# Find first non repeating character in a string

In [1]:
def findFirstNonRepatingCharacter(word):
  word_dict = dict((chword, 1) for chword in word)
  print(word_dict)

In [2]:
findFirstNonRepatingCharacter('Rajasekar')

{'R': 1, 'a': 1, 'j': 1, 's': 1, 'e': 1, 'k': 1, 'r': 1}

# Find the second largest number in an array!

You are given an array (or a Python list) of integers.

For example, [1, 3, 4, 5, 0, 2].

Write a function, second_largest(given_list), which takes the list as the input, and returns the second largest number.

## Examples:

- **second_largest( [1, 3, 4, 5, 0, 2] )** should return 4.
- **second_largest( [-2, -1] )** should return -2.
- **second_largest( [2, 2, 1] )** should return 2.
- **second_largest( [2] )** should return None.
- **second_largest( [] )** should return None.

In [3]:
def second_largest(given_list):
    largest = None
    second_largest = None
    for current_element in given_list:
        if largest == None:
            largest = current_element
        elif current_element > largest:
                second_largest = largest
                largest = current_element
        elif second_largest == None:
               second_largest = current_element
        elif current_element > second_largest:
               second_largest = current_element
    return second_largest

# Use the code below to test your function.

In [4]:
print('The second largest number in [1, 3, 4, 5, 0, 2] is (should be 4):')
print(second_largest([1, 3, 4, 5, 0, 2]))

print('The second largest number in [-2, -1] is: (should be -2)')
print(second_largest([-2, -1]))

print('The second largest number in [2, 2, 1] is: (should be 2)')
print(second_largest([2, 2, 1]))

print('The second largest number in [2] is: (should be None)')
print(second_largest([2]))

print('The second largest number in [] is: (should be None)')
print(second_largest([]))

print('The seconf largest number in [] is: (should be 3)')
print(second_largest([4, 2, 3]))

The second largest number in [1, 3, 4, 5, 0, 2] is (should be 4):
4
The second largest number in [-2, -1] is: (should be -2)
-2
The second largest number in [2, 2, 1] is: (should be 2)
2
The second largest number in [2] is: (should be None)
None
The second largest number in [] is: (should be None)
None
The seconf largest number in [] is: (should be 3)
3

# Strings are reverse

For example, "ABC" and "CBA" are reverses of each other.  Assume that the two strings are not empty and have the same length.

In [ ]:
# Modify the following function:
def are_reverses(string_1, string_2):
    for i in range(len(string_1)):
        i2_index = len(string_1) -i - 1
        if string_1[i] != string_2[i2_index]:
            return False
    return True

### Use the code below to test your function.

In [ ]:
print('Are "ABC" and "CBA" reverses of each other? (Should be True.)')
are_reverses("ABC", "CBA")

Are "ABC" and "CBA" reverses of each other? (Should be True.)
Are "CBA" and "AAA" reverses of each other? (Should be False.)
Malayalam and malayalaM reverse of each other? (Should be True)

True

In [ ]:
print('Are "CBA" and "AAA" reverses of each other? (Should be False.)')
are_reverses("CBA", "AAA")

Are "CBA" and "AAA" reverses of each other? (Should be False.)

False

In [ ]:
print("Malayalam and malayalaM reverse of each other? (Should be True)")
are_reverses("Malayalam", "malayalaM")

Malayalam and malayalaM reverse of each other? (Should be True)

True

### You're given a 2D array with the same number of rows and columns.  Write a function that adds up the diagonal elements and returns the sum.

For example, you're given the following 2D array:

[[1, 2, 3],  
 [4, 5, 6],  
 [7, 8, 9]]

The diagonal elements are 1, 5, and 9, so your function should return 15.

In [ ]:
# Modify the following function:
def diagonal_sum(given_2d):
    sum_diagonalItem = 0
    for i in range(len(given_2d)):
        for j in range(len(given_2d[i])):
            if i == j: 
                sum_diagonalItem += given_2d[i][j]
                
    return sum_diagonalItem

In [ ]:
print("""
The diagonal sum of [[1, 0],
                     [0, 1]] is: (Should be 2)""")
diagonal_sum([[1, 0],
              [0, 1]])

The diagonal sum of [[1, 0],
                     [0, 1]] is: (Should be 2)

2

In [ ]:
print("""
The diagonal sum of [[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]] is: (Should be 15)""")
diagonal_sum([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

# 2D Array Counting the number of negative numbers.

You are given a 2-dimensional array with integers.

Example Input:  
[[-4, -3, -1, 1],  
&nbsp;[-2, -2,  1, 2],  
&nbsp;[-1,&nbsp; 1,&nbsp; 2, 3],  
&nbsp;[ 1,&nbsp; 2,&nbsp; 4, 5]]

Write a function, count_negatives(input), which finds and returns the number of negative integers in th array.

In [ ]:
# Input: A 2-dimensional array with integers.  Example below.

#[[-4, -3, -1, 1],
# [-2, -2,  1, 2],
# [-1,  1,  2, 3],
# [ 1,  2,  4, 5]]
# Returns:
#  The number of negative numbers in the array.
#  In the above case, this function should return 6
#  since there are 6 negative numbers in the array.
# The time complexity for each row is  nO(1) = O(n) since there are n rows then n(O)n = O(n*n)
# Same for all column also O(n*n) adding them up we get 2O(n*n) multiplying a big O notation by a constant
# doesn't change the big O notation so the time complexity is O(n*n) or Quadratic time complexity
def count_negatives(given_array):
    negative_count = 0
    arr_len = len(given_array)
    for row_i in range(arr_len):              # O(n)
        for col_i in range(arr_len):          # O(n)
            if given_array[row_i][col_i] < 0: # O(1)
                negative_count += 1           # O(1)
    return  negative_count

In [ ]:
def count_negative(given_array):
    count = 0
    row_i = 0
    col_i = len(given_array) -1
    while col_i >= 0 and row_i < len(give_array) -1:
        if give_array[row_i][col_i] < 0:
            count += col_i
            row_i += 1
        else:
            col_i -= 1

## Use the code below to test your function

In [ ]:
print("""
How many negative numbers are there in the following array?
(There are 6.)

[[-4, -3, -1, 1],
 [-2, -2,  1, 2],
 [-1,  1,  2, 3],
 [ 1,  2,  4, 5]]
""")

count_negatives(
[[-4, -3, -1, 1],
 [-2, -2,  1, 2],
 [-1,  1,  2, 3],
 [ 1,  2,  4, 5]])

In [ ]:
print("""
How many negative numbers are there in the following array?
(There is 1.)

[[-1, 0],
 [0,  0]]
""")

count_negatives(
[[-1, 0],
 [0,  0]])

In [ ]:
print("""
How many negative numbers are there in the following array?
(There are 2.)

[[-2, 0],
 [-1, 0]]
""")

count_negatives(
[[-2, 0],
 [-1, 0]])

# Find duplicate name in a list.

For example, if you're given ['George', 'Tom', 'Emily', 'Jenny', 'Tom'], your function should return 'Tom'.

**Just assume that there's only one name that appears twice.**

In [ ]:
# Modify the following function:
def appears_twice(given_list):
    count = 0
    dict ={}
    for name in given_list:
        if(name in dict and dict[name] > 1):
            print(name)
        else:
            count += 1
            dict[name] = count
    return None

In [ ]:
print("Which name appears twice? (Should be 'Tom')")
appears_twice(['George', 'Tom', 'Emily', 'Jenny', 'Tom'])

In [ ]:
print("Which name appears twice? (Should be 'George')")
appears_twice(['George', 'Claire', 'Tom', 'Lynda', 'George'])